//-
//-    Warning! This file generated automatically.
//-    Do not change anything without compilation.
//-    All changes will be lost.

include ../src/components/footer/_footer.pug
include ../src/components/navbar/_navbar.pug
include ../src/components/plus-button/_plus-button.pug
