$black: #222222;
$white: #FFFFFF;

$primary: #FF8540;
$primary-500: darken($primary, 10%);
$primary-600: darken($primary, 20%);

$light: #FAFAFA; 

$neutral: #999999;

$utilities: () !default;
$utilities: map-merge(
  (
    "background-color": (
      property: background-color,
      class: bg,
      values: (
        "black": $black,
        "primary": $primary,
        "secondary": $secondary,
        "white": $white
      )
    ),
    "color": (
      property: color,
      class: text,
      values: (
        (
          "black": $black,
          "primary": $primary,
          "secondary": $secondary,
          "white": $white
        )
      )
    ),
  ), $utilities);