mixin plus-button(args)
  <svg width="34" height="34" viewBox="0 0 34 34" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M17.0002 2.83337C9.19433 2.83337 2.8335 9.19421 2.8335 17C2.8335 24.8059 9.19433 31.1667 17.0002 31.1667C24.806 31.1667 31.1668 24.8059 31.1668 17C31.1668 9.19421 24.806 2.83337 17.0002 2.83337ZM22.7518 15.9659L17.751 20.9667C17.5385 21.1792 17.2693 21.2784 17.0002 21.2784C16.731 21.2784 16.4618 21.1792 16.2493 20.9667L11.2485 15.9659C10.8377 15.555 10.8377 14.875 11.2485 14.4642C11.6593 14.0534 12.3393 14.0534 12.7502 14.4642L17.0002 18.7142L21.2502 14.4642C21.661 14.0534 22.341 14.0534 22.7518 14.4642C23.1627 14.875 23.1627 15.5409 22.7518 15.9659Z" fill="#DF534E"/>
  </svg>
